<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>speak essos</title>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <link rel="stylesheet"href="css\style.css">
  </head>
  <body>
    <img class="khal-img" src="khal.jpg"  alt="khal-img">
    <h1>Speak Essos</h1>
    <h2 id="disc">Translate English to Dothraki.</h2>
    <form class="" action="/" method="post">
      <textarea class="my-text" rows="3" type="text" placeholder="Enter text here..." name="d" value=""></textarea>
      <br>
      <button class="my-btn" type="submit" name="button">Translate</button>
    </form>
  </body>
</html>
