<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Speak-Essos</title>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="css\style.css">
  </head>
  <body>
    <img class="khal-img" src="khal.jpg"  alt="khal-img">
      <h1>Speak Essos</h1>
      <h2 id="disc">Translate English to Dothraki.</h2>
    <div >
      <div class="div1">
        <h2 class="label-text">Original Text</h2>
    <h2 class="gen-text"><%= nama %>.</h2>
      </div>
      <div class="div2">
        <h2 class="label-text">Translation in Dothraki.</h2>
        <h2 class="gen-text"><%= text %>.</h2>
      </div>
    </div>
    <div id="again-btn" class="btn">
      <a href="/" >Translate Again!</a>
    </div>
  </body>
</html>
